footer {
    background-color: #333;
    color: white;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-sizing: border-box;
    font-size: 14px;
}
.footer-content {
    text-align: left;
}
.footer-sns {
    display: flex;
    gap: 10px;
}
.footer-sns img {
    width: 30px;
    height: 30px;
}